.box-text {
  background-color: rgba(16, 16, 126, 0.459);
  color: #fff;
  border-radius: 15px;
  margin: 20px 0 0 30px;
  padding: 15px;
}

.box-top {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  background-color: rgba(252, 4, 4, 0.459);
  width: 15rem;
  border-radius: 15px;
}

.box-top img {
  width: 5rem;
  object-fit: contain;
}

.box-list ul {
  display: flex;
  padding: 0;
}

.box-list ul li {
  list-style: none;
  border: none;
}
