.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: top;
  padding: 3rem;
}

input {
  width: 10rem;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0 0 0 0.5rem;
}

ul p {
  text-align: center;
  padding: 0.2rem 0;
  margin: 0;
}

li {
  gap: 0.5rem;
  display: flex;
  width: 9rem;
  border-bottom: 1px solid black;
  transition: 200ms ease 0s;
}

li:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px, rgba(0, 0, 0, 0.12) 0px 3px 6px;
  transform: scale(1.009);
}

.logo-search {
  width: 20px;
  object-fit: contain;
}