.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: top;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://besthqwallpapers.com/Uploads/28-6-2022/201756/thumb2-nba-logo-cut-out-3d-text-white-background-nba-3d-logo-nba-emblem.jpg);
}

h2 {
  margin-top: 2rem;
  margin-left: 2rem;
}

input {
  width: 11rem;
  padding-left: 10px;
  margin-left: 2rem;
  border-radius: 15px;
}

.ul-clean {

  background-color: rgba(40, 39, 41, 0.055);
  list-style: none;
  padding: 0.2rem 0 0 0;
  margin: 2px 0 0 2.3rem;
}

.ul-dirty {
  display: none;
}

ul p {
  text-align: center;
  padding: 0.2rem 0 0 10px;
  margin: 0;
}

li {
  gap: rem;
  display: flex;
  width: 10.5rem;
  border-bottom: 1px solid black;
  transition: 200ms ease 0s;

}

li:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px, rgba(0, 0, 0, 0.12) 0px 3px 6px;
  transform: scale(1.009);
}

.logo-search {
  width: 20px;
  object-fit: contain;
}

.box-text {
  background-color: rgba(16, 16, 126, 0.459);
  color: #fff;
  border-radius: 15px;
  margin: 20px 0 0 30px;
  padding: 15px;
}

.box-top {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  background-color: rgba(252, 4, 4, 0.459);
  width: 15rem;
  border-radius: 15px;
}

.box-top img {
  width: 5rem;
  object-fit: contain;
}

.box-list ul {
  display: flex;
  padding: 0;
}

.box-list ul li {
  list-style: none;
  border: none;
}
