.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: top;
  margin: 0;
}

input {
  width: 11rem;
  padding-left: 10px;
  margin-top: 2rem;
  margin-left: 2rem;
  border-radius: 15px;
}

.ul-clean {

  background-color: rgba(40, 39, 41, 0.055);
  list-style: none;
  padding: 0.2rem 0 0 0;
  margin: 2px 0 0 2.3rem;
}

.ul-dity {
  display: none;
}

ul p {
  text-align: center;
  padding: 0.2rem 0 0 10px;
  margin: 0;
}

li {
  gap: rem;
  display: flex;
  width: 10.5rem;
  border-bottom: 1px solid black;
  transition: 200ms ease 0s;

}

li:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px, rgba(0, 0, 0, 0.12) 0px 3px 6px;
  transform: scale(1.009);
}

.logo-search {
  width: 20px;
  object-fit: contain;
}